[submodule "Core"]
	path = Core
	url = https://github.com/cakephp/cakephp.git
[submodule "Plugin/DebugKit"]
	path = Plugin/DebugKit
	url = https://github.com/cakephp/debug_kit.git
[submodule "Plugin/ContentManager"]
	path = Plugin/ContentManager
	url = https://github.com/BackEndCoder/ContentManager.git
[submodule "Plugin/PaypalIpn"]
	path = Plugin/PaypalIpn
	url = https://github.com/webtechnick/CakePHP-Paypal-IPN-Plugin.git
