@charset "utf-8";
/* CSS Document */

/*Product list page css goes here*/
.pagination{
	border-bottom:1px solid #6b6b6b;
	margin:0 10px;
	float:left;
	width:750px;
}
.pagination h1{
	color:#e3007e;
}
.pagination h1 span{
	font:normal 18px Helvetica, Arial, sans-serif;
	color:#868686;
}
.pagination-num{
	float:right;
	
}
.pagination-num ul li{
	float:left;
}
.pagination-num ul li a{
	font:normal 13px/18px 'HelveticaNeueRegular', Helvetica, Arial, sans-serif;
	color:#959595;
	padding:0 5px;
	border-right:1px solid #959595;
}
.pagination-num ul li:last-child a{
	border-right:none;
}
.sort form{
	width:240px;
	float:left;
}
.sort form select{
	border:1px solid #c2c2c2;
	font:normal 13px/18px 'HelveticaNeueRegular', Helvetica, Arial, sans-serif;
	padding:3px 0 3px 10px;
	width:234px;
}
.product-des p{
	padding-top:10px;
}
ul.main-col4 li h4{
	margin-top:5px;
}
ul.main-col4 li h6{
	color:#e3007e;
}
ul.mar-bot li {
	margin-bottom:30px;
}
.pagination-bot{
	float:left;
	border-top:1px solid #6b6b6b;
	width:750px;
	margin:0 10px;
	padding:10px 0 0 0;
}.pagination-page{
	float:right;
	margin:0 50px 0 0;
}
.pagination-page ul li {
	float:left;
	color:#959595;
		font:normal 13px/18px 'HelveticaNeueRegular', Helvetica, Arial, sans-serif;
}
.pagination-page ul li a{
	color:#959595;
		font:normal 13px/18px 'HelveticaNeueRegular', Helvetica, Arial, sans-serif;
			padding:0 5px;
	border-right:1px solid #959595;
}

#users{
	margin-top:0px;
}
#UserProfileForm label{
	width:100px;
	display: inline-block;
	font-weight:bold;
	color:#000;
	vertical-align: top;
}
#users .submit {
	border-top:1px solid #e3e3e3;
	margin-top:10px;
	

}
#users .btn{
	 background:url("../img/arrow.png") no-repeat 4px transparent;
	 background-color:#747473;;
    color: #FFFFFF;
    font: bold 14px/30px 'HelveticaNeueCondensedBlack',Arial,sans-serif;
    margin: 0 0 0 10px;
    padding: 4px 25px;
    text-transform: uppercase;
    margin-top:10px;
    margin-left:50%;

}
#UserImages{
	border:1px;
	

}
#file{
	background:url("../img/down.png") no-repeat transparent;
	height:100px;
	
     margin-left: 91px;
    margin-top: 10px;
    padding-left: 42px;
    padding-top: 8px;
	

}